<div class="bae-form">
	<div class="bae-form__group">
		<label class="bae-form__label" for="websiteDomain">Domain</label>
		<input class="bae-form__control" type="text" name="websiteDomain" id="websiteDomain" ng-model="vm.name" />
	</div>
	<div class="bae-form__group">
		<label class="bae-form__label" for="websiteName">Name of Website</label>
		<input class="bae-form__control" type="text" name="websiteDomain" id="websiteDomain" ng-model="vm.name" />
	</div>
	<div class="bae-form__group">
		<label class="bae-form__label" for="websiteDescription">Description</label>
		<textarea class="bae-form__control" name="websiteDescription" id="websiteDescription" ng-model="vm.desc"></textarea>
	</div>
	<button class="bae-btn" type="button" bae-submit>Create</button>
</div>