<div class="bae-form">
	<div class="bae-form__group">
		<label class="bae-form__label" for="loginEmail">Email</label>
		<input type="text" bae-login-email class="bae-form__control" name="loginEmail" id="loginEmail" />
	</div>
	<div class="bae-form__group">
		<label class="bae-form__label" for="loginPassword">Password</label>
		<input type="text" bae-login-password class="bae-form__control" name="loginPassword" id="loginPassword" />
	</div>
	<button class="bae-btn" bae-login-submit>Login</button>
</div>